#add-location{
  color: white;
  .locations.hedding .value{
    background-color: #23ad8b;
    text-transform: uppercase;
  }
  .locations{
    display: grid;
    justify-content: center;
  }

  form{
    display: grid;
    justify-content: center;
  }
  .location{
    display: flex;
    .value{
      color: white;

      margin: 5px 1px;
      width: 10rem;
      line-height: 2rem;
      &.country{
        width: 20rem;
      }
      display: flex;
      // align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: #693bce;
      &.delete,&.add-button {
        width: 5rem;
        background: none;

      }
      button {
        margin: 0;
      }
      input{
        border-radius: 0.3rem;
        display: block;
        padding: 1rem;
        width: 100%;
        background-color: #8d6ad8;
        border: none;
        outline: none;
      }
    }
  }
  .add{
    width: 100%;
  }
  button{
    margin: 0.1rem 0.5px;
    margin-bottom: 1rem;
    width: 96%;
    outline: none;
    padding: 0.3rem;
    background-color: #7eb0b6;
    border-radius: 2rem;
    
    border: 2px solid #26445c;
  }
  .error{
    background-color: #b93143;
  }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
}