.stats {
  // width: 150px;
  height: 30vh;
  button.ibg {
    cursor: pointer;
    border: none;
    padding: 0.8rem 2rem;
    font-size: 1.3rem;

  }

  .ibg{
    margin: 3px 20px;
    padding: 0 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}


#game-page {
  #game-view {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    // z-index: -1;
  }
  .overlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .z1 {
    z-index: 2;
  }
  .top {
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 4rem;
    }

    .logo img{
      width: 100px;
    }
  }
  .game-controls {
    .options {
      padding: 2rem;
      display: grid;
      grid-template-columns: 300px 300px;
      justify-content: space-around;
      button {
        cursor: pointer;
        border: none;
        margin: 3px 20px;
        padding: 1rem;
        font-size: 1.3rem;
        background: lightgreen;
      }
    }
  }
}
