

.options{
  padding: 2rem;
  display: grid;
  grid-template-columns: 300px 300px;
  justify-content: space-around;

  button.option{
    cursor: pointer;
    border: none;
    margin: 3px 20px;
    padding: 1rem;
    font-size: 1.3rem;
    background: rgb(206, 207, 138);
    border: 2px solid rgb(101, 102, 72);
    transition: color 300ms ease-in, background 300ms ease, box-shadow 300ms ease-in-out;

    &:hover{
      background: rgb(231, 233, 142);

      box-shadow: 0 2px 6px  rgb(72, 73, 56);
    }
    border-radius: 2rem;
    &:disabled{
      color: rgb(32, 30, 30);
    }
    &.ans-r{
      background-color: rgb(71, 187, 91);
    }
    &.ans-w{
      background-color: #c55b5b;
    }
  }
}
