#leadboad {
  width: fit-content;
  border: 5px solid #fff;
  margin: 1rem 1rem 1rem 1rem;
  height: fit-content;
  .heading {
    font-size: 1.2rem;
    padding: 0.51rem 2.1rem;
  }
  .title {
    background-color: #323c79;
    color: white;
  }
  table {
    text-align: left;
    background-color: white;
    tr {
      height: 2.5rem;
    }
    td {
      padding: 0.6rem;
    }
    th, td {
        border: 1px solid black;
      }
    td:nth-child(3) {
      text-align: center;
    }
    th:nth-child(2) {
      padding: 0 4.5rem;
    }

    tr:nth-child(even) {
      background-color: #deeaf6;
    }
    tr:nth-child(odd) {
      background-color: #ffffff;
    }
  }
}
