#leadboad {
    width: 360px;
    height: 370px;
    margin: 1rem auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    .score{
        height: 3.28rem;
        &:first-child{
            margin-top: 13rem;
        }
    }

}