#name-register {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  input {
    margin: 20px;
    padding: 5px 20px;
    display: block;
    font-size: 2rem;
    text-align: center;
  }
  #submit {
    width: 20rem;
  }
  form {
    display: grid;
    place-items: center;
  }
}
